<!DOCTYPE html>
<html>
<head>
    <title>IP Address Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <style>
        body {
            font-family: 'Poppins';
        }
        </style>
</head>
<body>

    <nav class="navbar navbar-dark bg-warning">
        <a class="navbar-brand" href="#">
            <img src="{{url_for('static', filename='icon.svg')}}" width="30" height="30" class="d-inline-block align-top" alt="">
            IP Address Details Project
          </a>
      </nav><br>
<div class="container">
    <div class="col-md-12">
        <h2>IP Address Details</h2>
    
    <form method=POST enctype=multipart/form-data >
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="ipaddress" placeholder="IP Address">
            <div class="input-group-append">
              <input type="submit" value="IPLookup" class="btn btn-info" id="search_form_input">
            </div>
          </div>
    </form>
    <table class="table table-sm ">
        <tbody>
            {%for i in ipdata%}
  
<!-- table rows -->
<tr >
    {%for row in i %}
    <td class="table-info">{{row}}</td>
    {%endfor%}
   
  
{%endfor%}
<h3>{{result}}</h3>
        </tbody>
    </table>
   
    </div>
   
  </div>


 
    





</body>
</html>

